.profile {
  display: flex;
}

.profileRight {
  flex: 9;
}

.profileCover {
  height: 320px;
  position: relative;
  margin-bottom: 0;
}

.profileCoverImg {
  height: 250px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 0;
}

.profileUserImg {
  width: 165px;
  height: 165px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
  margin: auto;
  border: 5px solid white;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profileInfoName {
  font-size: 24px;
  margin: 0;
}
.profileInfoDesc {
  font-weight: 300;
  margin-top: 0px;
}

.profileRightBottom {
  display: flex;
}
